@import url("https://fonts.googleapis.com/css2?family=Poppins");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #F2F9FE;
}

body.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
header nav {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #F2F9FE;
  top: 0;
  left: 0;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}
header nav.show {
  display: flex;
  transition: opacity 0.5s ease;
  background-color: #F2F9FE;
}
header nav.show ul {
  display: flex;
}
@media screen and (min-width: 1024px) {
  header nav {
    display: flex;
    width: unset;
    height: unset;
    position: relative;
    opacity: 1;
  }
}
header nav ul {
  display: none;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 1024px) {
  header nav ul {
    display: flex;
    flex-direction: row;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #223344;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1024px) {
  header nav ul li a {
    font-size: 1.3rem;
  }
}
header nav ul li a:hover {
  color: #613f6b;
  text-decoration: underline;
}
header #colorMode {
  display: none;
  cursor: pointer;
}
header #colorMode.show {
  display: flex;
  position: absolute;
  top: 22px;
}
@media screen and (min-width: 1024px) {
  header #colorMode {
    display: flex;
  }
}
header #colorMode .color-mode-pill {
  display: flex;
  border-radius: 50% 0 0 50%;
  background-color: #111729;
  padding: 3px;
}
header #colorMode .color-mode-pill:last-child {
  border-radius: 0 50% 50% 0;
}
header #colorMode .color-mode-pill .night-mode {
  display: flex;
  border-radius: 50%;
  background-color: #111729;
}
header #colorMode .color-mode-pill .light-mode {
  display: flex;
  border-radius: 50%;
  background-color: #F2F9FE;
}
header #toggleMenu {
  border: none;
  position: absolute;
  right: 25px;
  background-color: #F2F9FE;
}
header #toggleMenu img {
  width: 40px;
  background-color: #F2F9FE;
  cursor: pointer;
}
header #toggleMenu .close-icon {
  display: none;
}
@media screen and (min-width: 1024px) {
  header #toggleMenu {
    display: none;
  }
}

.page-body {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.page-body__img {
  width: 95%;
}
.page-body__img img {
  width: 100%;
}
.page-body__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
@media screen and (min-width: 550px) {
  .page-body__info {
    padding: 80px;
  }
}
.page-body__info h3 {
  color: #223344;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}
.page-body__info h1 {
  font-size: 2rem;
  color: #223344;
  font-weight: bold;
  width: 80%;
}
@media screen and (min-width: 550px) {
  .page-body__info h1 {
    font-size: 3.75rem;
  }
}
.page-body__info p {
  font-size: 1.125rem;
  font-weight: bold;
  color: #909193;
  padding: 20px 0;
}
.page-body__info .btn-container {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-direction: column;
}
@media screen and (min-width: 550px) {
  .page-body__info .btn-container {
    flex-direction: row;
    gap: 10px;
  }
}
.page-body__info .btn-container .btn-fill {
  text-decoration: none;
  background-color: #2A4DD0;
  color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.page-body__info .btn-container .btn-fill:hover {
  background-color: #fff;
  color: #223344;
}
.page-body__info .btn-container .btn-light {
  font-size: 1rem;
  color: #2A4DD0;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.page-body__info .btn-container .btn-light:hover {
  background-color: #2A4DD0;
  color: #fff;
}
.page-body__info .check-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 550px) {
  .page-body__info .check-container {
    flex-direction: row;
  }
}
.page-body__info .check-container .check-element {
  display: flex;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */